@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap);
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-size: 0.95rem;
}

html,
body {
  background-color: #ffead9;
  font-family: "Rubik", sans-serif;
}

div {
  color: #0c5b51;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 15px 0;
  position: relative;
}

hr {
  background-color: #f6ca91 !important;
}

.btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-label {
  margin-bottom: 0.35rem;
}

.container-fluid {
  max-width: 1340px;
}

.card {
  background: transparent;
  border: 0;
  border-radius: 8px;
}

.go-b1,
.go-f1,
.go-b,
.go-f,
.go-b2,
.go-f2 {
  padding: 0.35rem 0.85rem;
  border-radius: 8px;
  color: #ffead9;
  background-color: #0c5b51;
}

.forward-arrow {
  right: 0;
}

.fb-arrow {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  height: 45px;
  width: 45px;
  border-radius: 32px;
  background-color: #0c5b51;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.back-arrow {
  left: 0;
}

.header-2 {
  background-color: #f6ca91b5;
  padding: 0 !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-2 .navbar-dark .navbar-nav .nav-link {
  color: #0c5b51;
  font-weight: 500;
}

.search-global {
  position: absolute;
  -webkit-transform: translate(14px, 11px) scale(1.1);
          transform: translate(14px, 11px) scale(1.1);
}

.shopByCategory .slick-slide {
  width: auto !important;
}

.shopByCategory .slick-track {
  -webkit-transform: translateX(8%) !important;
          transform: translateX(8%) !important;
}

.category-section {
  width: 120px;
  margin: 0 8px;
  background: linear-gradient(45deg, #f6ca91, #0000);
  border-radius: 65px 65px 65px 65px;
  height: 180px;
  -webkit-filter: drop-shadow(0px 0px 3px #f6ca91);
          filter: drop-shadow(0px 0px 3px #f6ca91);
  -webkit-box-shadow: inset 0px 4px 10px #e3b375;
          box-shadow: inset 0px 4px 10px #e3b375;
}

.category-section .image-o-category {
  height: 100px;
  width: 100px !important;
  -o-object-fit: contain;
  border-radius: 62px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin-bottom: 10px;
}

.product-section {
  margin: 0 3px;
  padding: 10px;
  background-color: #f3debf;
  position: relative;
}

.product-section .image-o-product {
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.product-section .name-o-product {
  font-size: 1rem;
}

.product-section .price-o-product {
  font-size: 1rem;
  font-weight: 500;
}

.product-section .original-price-o-product {
  font-size: 0.895rem;
  margin-left: 8px;
}

.product-section .off-o-product {
  font-size: 0.795rem;
  margin-left: 8px;
  color: #388e3c;
}

.product-section:hover {
  background-color: #f6ca91;
}

.subcategoryList img {
  height: 240px;
}

.subcategoryList .subcategory-name {
  position: absolute;
  bottom: 0;
  background: #0c5b5191;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 14px 7px;
  color: #fff;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px -3px 16px #07241d29;
          box-shadow: 0px -3px 16px #07241d29;
}

.subcategoryList .subcategory-name p {
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 1.2rem;
}

.breadcrum-area ul {
  position: relative;
}

.breadcrum-area ul li {
  position: relative;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.breadcrum-area ul li:before {
  content: "/";
  display: inline-block;
  position: absolute;
  left: -0.75rem;
  font-size: 1.2rem;
  top: -3px;
  color: #e7b575;
}

.breadcrum-area ul li:nth-child(1):before {
  content: "";
}

.filters .form-check-label {
  cursor: pointer;
}

.filters .accordion-item {
  border: 0;
}

.filters .accordion-button {
  color: #0c5b51;
  background: #f3debf;
  border-top: 1px solid #f6ca91;
}

.filters .accordion-button:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filters .accordion-button::after {
  background-image: none;
  content: "+";
  -webkit-transform: none;
          transform: none;
  font-size: 1.5rem;
  font-weight: 100;
  margin-right: -7px;
  margin-top: -7px;
}

.filters .accordion-button:not(.collapsed)::after {
  content: "-";
}

.filters .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.filters .accordion-body {
  background: #fff2e7;
  padding: 0.2rem 1rem;
}

.filters .accordion-body li {
  letter-spacing: 0.5px;
  padding: 0.4rem;
}

.filters .form-check-input:checked {
  border-color: #0c5b51;
  background-color: #0c5b51;
}

.filter-btn {
  border: 1px solid #0d5b50;
  background: #f3debf;
  color: #156053;
  padding: 3px 8px;
  border-radius: 8px;
  opacity: 0.8;
  margin-right: 8px;
}

.pagination .page-link {
  color: #0c5b51;
  background-color: #f3debf;
  border: 1px solid #f6ca91;
  border-radius: 0;
  margin: 7px;
}

.pagination .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #f6ca91;
          box-shadow: 0 0 0 0.25rem #f6ca91;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #0c5b51;
  background-color: #f3debf;
  border-color: #f3debf;
}

.specs p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.specs .choose-btn.active {
  background: #0c5b51;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.specs .choose-btn,
.specs select {
  border: 1px solid #0c5b51;
  padding: 5px 10px;
  background: transparent;
  border-radius: 8px;
  color: #0c5b51;
}

.specs .choose-btn:hover,
.specs select:hover {
  background: #0c5b51;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.specs .choose-btn:active,
.specs select:active {
  background: #0c5b51;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.specs .user-details li:nth-child(1) {
  font-weight: 300;
}

.specs .user-details li {
  margin: 0 4px;
}

.specs .review-section :before {
  content: "\f10d";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  top: -1rem;
  left: -6px;
  font-size: 3.5rem;
  font-weight: 600;
  opacity: 0.021;
  z-index: 0;
}

.vertical.slider .slick-prev, .vertical.slider .slick-next {
  width: 100%;
  border: 0;
  background: #0c5b51;
  color: #fff;
  padding: 4px;
}

.footer-2 {
  background: #f6ca91;
}

.footer-2 ul li.f-section-head {
  color: #0c5b51;
  font-weight: 500;
}

.footer-2 ul li {
  color: #0c5b51;
  line-height: 1.4;
  font-size: 0.95rem;
}

.navbar2 li a {
  color: #0c5b51;
}

.navbar2 .dropdown-menu {
  width: 50rem;
  padding: 2rem;
  border-radius: 0;
  background: #ffead9fa;
  margin-top: 8px;
  border: 1px solid #f9dab5;
}

.navbar2 .dropdown-menu .head-o-dropdown {
  font-weight: 500;
}

.navbar2 .dropdown a {
  position: relative;
}

.navbar2 li:hover .dropdown-menu {
  display: block !important;
}

.navbar2 .nav-link {
  padding: 0.5rem 0.5rem;
}

.auth-title h1 {
  color: #b46624;
}

.auths .form-control {
  font-weight: 300;
  border: 1px solid #dda97e;
  padding: 0.76rem;
  font-size: 1.12rem;
  letter-spacing: 1px;
  background-color: #ecc8aa;
}

.auths .form-control:focus {
  color: #b46624;
  background-color: #fddfc5;
  border-color: #b46624;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.auths input::-webkit-input-placeholder {
  font-size: 1.12rem;
  color: #b4662485 !important;
  letter-spacing: 1px;
}

.auths input:-ms-input-placeholder {
  font-size: 1.12rem;
  color: #b4662485 !important;
  letter-spacing: 1px;
}

.auths input::-ms-input-placeholder {
  font-size: 1.12rem;
  color: #b4662485 !important;
  letter-spacing: 1px;
}

.auths input::placeholder {
  font-size: 1.12rem;
  color: #b4662485 !important;
  letter-spacing: 1px;
}

.auth-btn {
  height: 48px;
  width: 100%;
  background-color: #b46624;
  border: 0;
}

.auth-2-btn {
  height: 48px;
  width: 100%;
  background-color: transparent;
  color: #b46624;
  border: 1px solid #b46624;
}

.add-to-cart {
  background: #0c5b51;
  color: #fff;
  width: 100%;
  border: 0;
  padding: 12px;
  font-size: 1.2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 8px;
}

.add-to-cart:hover {
  letter-spacing: 1px;
}

button.slick-disabled {
  opacity: 0.5;
  background-color: #51857e;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}

.slick-dots li {
  height: 10px;
  width: 10px;
  overflow: hidden;
  margin: 4px;
  border-radius: 50%;
}

.slick-dots li button {
  border: none;
  width: 10px;
  background: #ffead97a;
  color: transparent;
}

.slick-dots li.slick-active button {
  background: #ffead9;
}

.hover-switch {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.hover-switch img {
  width: 100%;
  display: block;
}

.hover-switch img :nth-child(1) {
  position: absolute;
}

.hover-switch img:nth-child(2) {
  opacity: 0;
}

.second-img {
  position: absolute;
  display: block;
  top: 0;
}

::-moz-selection {
  background: #e7b575;
  color: #b46624;
}

::selection {
  background: #e7b575;
  color: #b46624;
}
/*# sourceMappingURL=custom-css1.css.map */