<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link href="" rel="stylesheet">
    <title>Title of website</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/custom-css1.css">
    <!-- seo tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="name of website">
    <!-- thumbnail of shared website-->
    <meta property='og:title' content='TITLE OF YOUR WEBSITE' />
    <meta property='og:image' content='https://YOUR_THUMBNAIL_IMAGE_URL' />
    <meta property='og:description' content='DESCRIPTION OF YOUR SITE' />
    <meta property='og:url' content='URL OF YOUR WEBSITE' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content='website' />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://miro.medium.com/fit/c/152/152/1*sHhtYhaCe2Uc3IU0IgKwIQ.png">


<body>
  <!-- navbar -->
  <section class="header-2">
    <div class="logobar py-2" style="background-color: #ffead985;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a class="navbar-brand py-0" href="/">
                <img src="./img/new-temp/logo.png" class="" style="width: 80px;padding: 2px;" alt="">
            </a>
            <div class="position-relative">
                <form>
                    <i class="fal fa-search search-global"></i> <input type="search"
                        placeholder="search products here.."
                        style="width: calc(100vw - 55vw);padding: 12px;border-radius: 8px;"
                        class="form-control border-0 ps-5" />
                </form>
            </div>
            <ul class="d-flex list-unstyled mb-0">
                <a href="#">
                    <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                            class="fal fa-shopping-bag me-2"></i> Items</li>
                </a>
                <a href="#">
                    <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                            class="fal fa-user me-2"> </i>SignIn</li>
                </a>
            </ul>
        </div>
    </div>
    <nav class="navbar2">
        <ul class="list-unstyled mx-auto mb-0 d-flex justify-content-center">
            <li class="nav-link dropdown">
                <a href="#">Home & Décor</a>
                <div class="dropdown-menu">
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-link  dropdown"><a href="#">Kitchen & Dinning</a>
                <div class="dropdown-menu">
                    <div class="row">
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                        <!-- <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                            </ul>
                        </div> -->
                        <div class="col-lg-3">
                            <ul class="list-unstyled ms-0 ">
                                <li class="head-o-dropdown">Name of the category</li>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                                <a href="#">
                                    <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <img src="https://s7d5.scene7.com/is/image/Anthropologie/64082050_060_b?$an-category$&fit=constrain&fmt=webp&hei=523&qlt=80&wid=349"
                                alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-link"><a href="#">Storage & Organizer</a></li>
            <li class="nav-link"><a href="#">Bath</a></li>
            <li class="nav-link"><a href="#">Furniture</a></li>
            <li class="nav-link"><a href="#">Lighting</a></li>
            <li class="nav-link"><a href="#">Clothing</a></li>
            <li class="nav-link"><a href="#">Sale</a></li>
        </ul>
    </nav>
</section>
<!-- navbar -->
    <div class="container-fluid">
        <form class="needs-validation" novalidate>
            <div class="row justify-content-center">
              
                <div class="col-6">
                    <div class="card auths mt-5 p-5">
                        <div class="auth-title mb-3">
                            <h1 class="">BECOME A MEMBER</h1>
                            <p>Become a member of REANDER to track and manage your orders, your customer details, receive special discounts, early access to promos and many more member exclusives!</p>
                        </div>
                        <div class="mb-3">
                            <label for="userFname" class="form-label">First Name</label>
                            <input type="email" class="form-control" id="userFname" value=""
                                placeholder="Enter your email address" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="userLname" class="form-label">Last Name</label>
                            <div class="input-group has-validation">
                                <input type="password" class="form-control" id="userLname"
                                    aria-describedby="inputGroupPrepend" placeholder="Enter Your Last Name" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="usermail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="usermail" value=""
                                placeholder="Enter your email address" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group has-validation">
                                <input type="password" class="form-control" id="password"
                                    aria-describedby="inputGroupPrepend" placeholder="Enter 8 digit password" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary auth-btn" type="submit">Sign In</button>
                        </div>
                        <p>I am already a member </p>
                        <div class="mb-3">
                            <button class="btn btn-primary auth-2-btn" type="submit">Sign In To Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- footer ends -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>

</html>