<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link href="" rel="stylesheet">
    <title>Title of website</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/custom-css1.css">
    <!-- seo tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="name of website">
    <!-- thumbnail of shared website-->
    <meta property='og:title' content='TITLE OF YOUR WEBSITE' />
    <meta property='og:image' content='https://YOUR_THUMBNAIL_IMAGE_URL' />
    <meta property='og:description' content='DESCRIPTION OF YOUR SITE' />
    <meta property='og:url' content='URL OF YOUR WEBSITE' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content='website' />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://miro.medium.com/fit/c/152/152/1*sHhtYhaCe2Uc3IU0IgKwIQ.png">

<body>
    <!-- navbar -->
    <section class="header-2">
        <div class="logobar py-2" style="background-color: #ffead985;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a class="navbar-brand py-0" href="/">
                    <img src="./img/new-temp/logo.png" class="" style="width: 80px;padding: 2px;" alt="">
                </a>
                <div class="position-relative d-none d-sm-block d-md-block d-block">
                    <form>
                        <i class="fal fa-search search-global"></i> <input type="search"
                            placeholder="search products here.."
                            style="width: calc(100vw - 55vw);padding: 12px;border-radius: 8px;"
                            class="form-control border-0 py-2 py-sm-2 py-md-2 ps-5" />
                    </form>
                </div>
                <ul class="d-flex list-unstyled mb-0">
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-shopping-bag me-md-2"></i><span
                                class="d-none d-sm-none d-md-inline-block"> Items</span></li>
                    </a>
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-user me-md-2"> </i><span
                                class="d-none d-sm-none d-md-inline-block">SignIn</span></li>
                    </a>
                </ul>
            </div>
        </div>
        <nav class="navbar2">
            <div class="d-none d-sm-none  d-md-block d-lg-block">
                <ul class="list-unstyled mx-auto mb-0 d-flex justify-content-center">
                    <li class="nav-link dropdown">
                        <a href="#">Home & Décor</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link  dropdown"><a href="#">Kitchen & Dinning</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <!-- <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                    </ul>
                                </div> -->
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <img src="https://s7d5.scene7.com/is/image/Anthropologie/64082050_060_b?$an-category$&fit=constrain&fmt=webp&hei=523&qlt=80&wid=349"
                                        alt="" class="w-100">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link"><a href="#">Storage & Organizer</a></li>
                    <li class="nav-link"><a href="#">Bath</a></li>
                    <li class="nav-link"><a href="#">Furniture</a></li>
                    <li class="nav-link"><a href="#">Lighting</a></li>
                    <li class="nav-link"><a href="#">Clothing</a></li>
                    <li class="nav-link"><a href="#">Sale</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- navbar -->
    <!-- slider starts -->
    <section class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="position-relative">
                        <div class="carousel-slick-slider">
                            <div class="">
                                <a href="#"><img src="./img/new-temp/banner.png" alt="" class="w-100"
                                        style="height: 310px;"></a>
                            </div>
                            <div class="">
                                <a href="#"><img
                                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/10/9/430fbc0d-623f-4c54-84c8-bde6505331191633797988468-HU_DK.jpg"
                                        alt="" class="w-100" style="height: 310px;"></a>
                            </div>
                            <div class="">
                                <a href="#"><img
                                        src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/10/11/4f3a7fe4-2244-4e3b-9dc4-31c7218c1dfb1633952601059-AAY_Desk_Banner.jpg"
                                        alt="" class="w-100" style="height: 310px;"></a>
                            </div>
                        </div>
                        <div class="d-lg-block d-md-block d-none" style="position: absolute;right: 14px;bottom: 14px;">
                            <button class="border-0 shadow go-b"><i class="fal fa-chevron-left"></i></button>
                            <button class="border-0 shadow go-f"><i class="fal fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img src="./img/new-temp/offer.png" alt="" class="w-100" style="height: 310px;">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- slider ends -->

    <!-- shop by category starts -->
    <section class="shopByCategory">
        <div class="container-fluid px-3">
            <div class="d-flex algn-items-center mb-3">
                <h3 class="mb-0">Shop By Category</h3>
            </div>
            <div class="d-flex flex-wrap">
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://media.istockphoto.com/photos/bohemian-living-room-interior-3d-render-picture-id1182454657?k=20&m=1182454657&s=612x612&w=0&h=1xEsm7BqeicA8jYk9KlerUtGsAgzzo530l5Ak1HJdnc="
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Home Décor</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/kitchenlab-design-1529347638.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Kitchen & Dinning</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://cf.shopee.ph/file/3c17bc0fefb84be20e986afb97246078" alt=""
                                class="w-100 image-o-category">
                            <p class="mb-0">Storage & Organizer</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://styleblueprint.com/wp-content/uploads/2020/08/SB-Memphis-KitchenUnlimited-StyleBlueprint_Bathrooms-1-1-scaled.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Bath</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-rivet-furniture-1533048038.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Furniture</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFrFn3o1T07CuSMUECwWqGcaYfhwonS8xLkz_sADXw5hqKyiZco5m2aXnFtmkN-XQpW58&usqp=CAU"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Lighting</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://www.coverstory.co.in/media/cms/home/category/work.jpg" alt=""
                                class="w-100 image-o-category">
                            <p class="mb-0">Clothing</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="./img/new-temp/logo.png" alt="" class="w-100 image-o-category bg-white">
                            <p class="mb-0">See All</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://media.istockphoto.com/photos/bohemian-living-room-interior-3d-render-picture-id1182454657?k=20&m=1182454657&s=612x612&w=0&h=1xEsm7BqeicA8jYk9KlerUtGsAgzzo530l5Ak1HJdnc="
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Home Décor</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/kitchenlab-design-1529347638.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Kitchen & Dinning</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://cf.shopee.ph/file/3c17bc0fefb84be20e986afb97246078" alt=""
                                class="w-100 image-o-category">
                            <p class="mb-0">Storage & Organizer</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://styleblueprint.com/wp-content/uploads/2020/08/SB-Memphis-KitchenUnlimited-StyleBlueprint_Bathrooms-1-1-scaled.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Bath</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-rivet-furniture-1533048038.jpg"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Furniture</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFrFn3o1T07CuSMUECwWqGcaYfhwonS8xLkz_sADXw5hqKyiZco5m2aXnFtmkN-XQpW58&usqp=CAU"
                                alt="" class="w-100 image-o-category">
                            <p class="mb-0">Lighting</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="https://www.coverstory.co.in/media/cms/home/category/work.jpg" alt=""
                                class="w-100 image-o-category">
                            <p class="mb-0">Clothing</p>
                        </div>
                    </a>
                </div>
                <div class="category-section text-center mb-3">
                    <a href="#">
                        <div class="p-2">
                            <img src="./img/new-temp/logo.png" alt="" class="w-100 image-o-category bg-white">
                            <p class="mb-0">See All</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="">
                <img src="./img/new-temp/banner.png" alt="" class="w-100" style="height: 310px;">
            </div>
        </div>
    </section>
    <!-- shop by category ends -->

    <!-- footer start -->
    <section class="pb-0">
        <footer class="footer-2 p-4 py-5">
            <div class="container-fluid">
                <div class="row  mx-0 flex-wrap justify-content-around">
                    <div class="col-12 col-md-2 col-lg-2">
                        <img src="./img/new-temp/logo.png" width="80" height="" alt="" class="">
                        <ul class="ps-0 list-unstyled mt-3">
                            <li>
                                <a href=""><i class="fal fa-map-marker-alt"></i> Store Location</a>
                            </li>
                            <li>
                                <a href=""><i class="fal fa-envelope"></i> Get Email</a>
                            </li>
                        </ul>
                        <address>
                        </address>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex">
                            <input type="search" placeholder="Get the latest product"
                                class="form-control border-0 w-75">
                            <button class="btn btn-outline-success w-25 border-radius-0">Submit</button>
                        </div>
                        <ul class="list-unstyled ps-0 pt-3">
                            <a href="#">
                                <li class=""><i class="fab mb-2  fa-facebook-f"
                                        style="width: 1rem; font-size: 1rem;"></i>
                                    @reander</li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-instagram" style="width: 1rem; font-size: 1rem;"></i>
                                    @reander
                                </li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-twitter" style="width: 1rem; font-size: 1rem;"></i> @reander
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <div class="py-1 d-flex justify-content-between px-2" style="background:#e7b575">
        <small>www.reander.com</small>
        <small class="mb-0 font-small text-center">
            &copy; 2021 All rights reserved. <a href="#">Loop Methods Pvt. Ltd </a>
        </small>
    </div>
    <!-- footer ends -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                arrows: true,
                dots: true,
                autoplay: true,
                prevArrow: $(".go-b"),
                nextArrow: $(".go-f"),
            });
            $('.category-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 8,
                slidesToScroll: 8,
                prevArrow: $(".go-b1"),
                nextArrow: $(".go-f1"),
            });
            $('.product-slick-slider').slick({
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 4,
                prevArrow: $(".go-b2"),
                nextArrow: $(".go-f2"),

            });

        });
    </script>
</body>

</html>