<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link href="" rel="stylesheet">
    <title>Title of website</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/custom-css1.css">
    <!-- seo tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="name of website">
    <!-- thumbnail of shared website-->
    <meta property='og:title' content='TITLE OF YOUR WEBSITE' />
    <meta property='og:image' content='https://YOUR_THUMBNAIL_IMAGE_URL' />
    <meta property='og:description' content='DESCRIPTION OF YOUR SITE' />
    <meta property='og:url' content='URL OF YOUR WEBSITE' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content='website' />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://miro.medium.com/fit/c/152/152/1*sHhtYhaCe2Uc3IU0IgKwIQ.png">

<body>
    <!-- navbar -->
    <section class="header-2">
        <div class="logobar py-2" style="background-color: #ffead985;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a class="navbar-brand py-0" href="/">
                    <img src="./img/new-temp/logo.png" class="" style="width: 80px;padding: 2px;" alt="">
                </a>
                <div class="position-relative d-none d-sm-block d-md-block d-block">
                    <form>
                        <i class="fal fa-search search-global"></i> <input type="search"
                            placeholder="search products here.."
                            style="width: calc(100vw - 55vw);padding: 12px;border-radius: 8px;"
                            class="form-control border-0 py-2 py-sm-2 py-md-2 ps-5" />
                    </form>
                </div>
                <ul class="d-flex list-unstyled mb-0">
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-shopping-bag me-md-2"></i><span
                                class="d-none d-sm-none d-md-inline-block"> Items</span></li>
                    </a>
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-user me-md-2"> </i><span
                                class="d-none d-sm-none d-md-inline-block">SignIn</span></li>
                    </a>
                </ul>
            </div>
        </div>
        <nav class="navbar2">
            <div class="d-none d-sm-none  d-md-block d-lg-block">
                <ul class="list-unstyled mx-auto mb-0 d-flex justify-content-center">
                    <li class="nav-link dropdown">
                        <a href="#">Home & Décor</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link  dropdown"><a href="#">Kitchen & Dinning</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <!-- <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                    </ul>
                                </div> -->
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <img src="https://s7d5.scene7.com/is/image/Anthropologie/64082050_060_b?$an-category$&fit=constrain&fmt=webp&hei=523&qlt=80&wid=349"
                                        alt="" class="w-100">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link"><a href="#">Storage & Organizer</a></li>
                    <li class="nav-link"><a href="#">Bath</a></li>
                    <li class="nav-link"><a href="#">Furniture</a></li>
                    <li class="nav-link"><a href="#">Lighting</a></li>
                    <li class="nav-link"><a href="#">Clothing</a></li>
                    <li class="nav-link"><a href="#">Sale</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- navbar -->

    <!-- breadcrum area start -->
    <section class="container-fluid pb-0">
        <div class="py-0 breadcrum-area">
            <ul class="list-unstyled ps-0 mb-0 d-flex justify-content-center">
                <li class="mx-2"> <a href="#">Home</a></li>
                <li class="mx-2"> <a href="#">Category</a></li>
                <li class="mx-2"> <a href="#">subcategory</a></li>
                <li class="mx-2"> <a href="#">Product name</a></li>
            </ul>
        </div>
    </section>
    <!-- breadcrum area ends -->


    <!-- product list page start -->
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-2 px-0">
                <!-- sorting -->
                <h5 class="mt-0 mb-3"> <i class="fal fa-sort-amount-up-alt me-3"></i>Sort Products</h5>

                <div class="sorting">
                    <!-- <div class="">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a type="button" href="#">Price Low to high</a></li>
                            <li class="mb-2"><a type="button" href="#">Price Hogh to low</a></li>
                            <li class="mb-2"><a type="button" href="#">Popularity</a></li>
                            <li class="mb-2"><a type="button" href="#">Ratings</a></li>
                        </ul>
                    </div> -->
                    <select name="" id="" class="form-select">
                        <option value="">Price Low to high</option>
                        <option value="">Price Hogh to low</option>
                        <option value="">Popularity</option>
                        <option value="">Ratings</option>
                        <option value="">Newest</option>
                    </select>
                </div>
                <hr>
                <!-- filters -->
                <h5 class="mt-4 mb-3"> <i class="fal fa-sort-amount-up-alt me-3"></i>Apply Filters</h5>
                <div class="filters">

                    <div class="accordion " id="accordionPanelsStayOpenExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="stayOpen-color">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#opened-color-collapse" aria-expanded="true"
                                    aria-controls="opened-color-collapse">
                                    Color
                                </button>
                            </h2>
                            <div id="opened-color-collapse" class="accordion-collapse collapse show"
                                aria-labelledby="stayOpen-color">
                                <div class="accordion-body">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li><input type="checkbox" name="" id="red" class="form-check-input me-2"><label
                                                class="form-check-label" for="red">red</label></li>
                                        <li><input type="checkbox" name="" id="green"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="green">green</label></li>
                                        <li><input type="checkbox" name="" id="purple"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="purple">purple</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="stayOpen-size">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#opened-size-collapse" aria-expanded="false"
                                    aria-controls="opened-size-collapse">
                                    Size
                                </button>
                            </h2>
                            <div id="opened-size-collapse" class="accordion-collapse collapse"
                                aria-labelledby="stayOpen-size">
                                <div class="accordion-body">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li><input type="checkbox" name="" id="S" class="form-check-input me-2"><label
                                                class="form-check-label" for="S">S</label></li>
                                        <li><input type="checkbox" name="" id="M" class="form-check-input me-2"><label
                                                class="form-check-label" for="M">M</label></li>
                                        <li><input type="checkbox" name="" id="L" class="form-check-input me-2"><label
                                                class="form-check-label" for="L">L</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="stayOpen-price">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#opened-price-collapse" aria-expanded="false"
                                    aria-controls="opened-price-collapse">
                                    Price
                                </button>
                            </h2>
                            <div id="opened-price-collapse" class="accordion-collapse collapse"
                                aria-labelledby="stayOpen-price">
                                <div class="accordion-body">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li><input type="checkbox" name="" id="100" class="form-check-input me-2"><label
                                                class="form-check-label" for="100">> 100</label></li>
                                        <li><input type="checkbox" name="" id="100-2000"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="100-2000">100-2000</label></li>
                                        <li><input type="checkbox" name="" id="200-300"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="200-300">200-300</label></li>
                                        <li><input type="checkbox" name="" id="400" class="form-check-input me-2"><label
                                                class="form-check-label" for="400">> 400</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="stayOpen-brand">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#opened-brand-collapse" aria-expanded="false"
                                    aria-controls="opened-brand-collapse">
                                    Brand
                                </button>
                            </h2>
                            <div id="opened-brand-collapse" class="accordion-collapse collapse"
                                aria-labelledby="stayOpen-brand">
                                <div class="accordion-body">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li><input type="checkbox" name="" id="Louie Vitton"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="Louie Vitton">Louie Vitton</label></li>
                                        <li><input type="checkbox" name="" id="Gucchi"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="Gucchi">Gucchi</label></li>
                                        <li><input type="checkbox" name="" id="Dior"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="Dior">Dior</label></li>
                                        <li><input type="checkbox" name="" id="Luxury Law"
                                                class="form-check-input me-2"><label class="form-check-label"
                                                for="Luxury Law">Luxury Law</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex mb-4 align-items-center">
                    <p class="me-3 mb-0">Applied Filters :</p> 
                    <button class="btn-sm filter-btn">$100 <span><i class="far ms-1 fa-times-circle"></i></span></button>
                    <button class="btn-sm filter-btn">red <span><i class="far ms-1 fa-times-circle"></i></span></button>
                    <button class="btn-sm filter-btn">$100 <span><i class="far ms-1 fa-times-circle"></i></span></button>
                    <button class="btn-sm filter-btn">red <span><i class="far ms-1 fa-times-circle"></i></span></button>
                    <button class="btn-sm filter-btn">$100 <span><i class="far ms-1 fa-times-circle"></i></span></button>
                    <button class="btn-sm filter-btn">red <span><i class="far ms-1 fa-times-circle"></i></span></button>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-section rounded shadow-sm mb-4">
                            <a href="#" class="hover-switch">
                                <img src="./img/new-temp/products/tp1.webp" alt=""
                                    class="w-100 image-o-product rounded">
                                <img src="./img/new-temp/products/fr2.webp" alt=""
                                    class="w-100 image-o-product rounded second-img">
                            </a>
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater

                            </div>
                            </a>
                            <div class="stars p-1-half-alt">
                                <a href="#" class="">121</a>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a href="">
                                <div class="d-flex px-1 pb-2">
                                    <div class="price-o-product">$949</div>
                                    <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                    </div>
                                    <div class="off-o-product">52% off</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination  justify-content-center">
                      
                        <li class="page-item"><a class="page-link" href="#"><i class="far fa-chevron-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="far fa-chevron-right"></i></a></li>
                      
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- product list page ends -->

    <!-- footer start -->
    <section class="pb-0">
        <footer class="footer-2 p-4 py-5">
            <div class="container-fluid">
                <div class="row  mx-0 flex-wrap justify-content-around">
                    <div class="col-12 col-md-2 col-lg-2">
                        <img src="./img/new-temp/logo.png" width="80" height="" alt="" class="">
                        <ul class="ps-0 list-unstyled mt-3">
                            <li>
                                <a href=""><i class="fal fa-map-marker-alt"></i> Store Location</a>
                            </li>
                            <li>
                                <a href=""><i class="fal fa-envelope"></i> Get Email</a>
                            </li>
                        </ul>
                        <address>
                        </address>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex">
                            <input type="search" placeholder="Get the latest product"
                                class="form-control border-0 w-75">
                            <button class="btn btn-outline-success w-25 border-radius-0">Submit</button>
                        </div>
                        <ul class="list-unstyled ps-0 pt-3">
                            <a href="#">
                                <li class=""><i class="fab mb-2  fa-facebook-f"
                                        style="width: 1rem; font-size: 1rem;"></i>
                                    @reander</li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-instagram" style="width: 1rem; font-size: 1rem;"></i>
                                    @reander
                                </li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-twitter" style="width: 1rem; font-size: 1rem;"></i> @reander
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <div class="py-1 d-flex justify-content-between px-2" style="background:#e7b575">
        <small>www.reander.com</small>
        <small class="mb-0 font-small text-center">
            &copy; 2021 All rights reserved. <a href="#">Loop Methods Pvt. Ltd </a>
        </small>
    </div>
    <!-- footer ends -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                arrows: true,
                dots: true,
                autoplay: true,
                prevArrow: $(".go-b"),
                nextArrow: $(".go-f"),
            });
            $('.category-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 8,
                slidesToScroll: 8,
                prevArrow: $(".go-b1"),
                nextArrow: $(".go-f1"),
            });
            $('.product-slick-slider').slick({
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 4,
                prevArrow: $(".go-b2"),
                nextArrow: $(".go-f2"),

            });

        });
        $(".product-section").on({
            mouseover: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 0 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 1 }, 600);
            }, mouseout: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 1 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 0 }, 600);
            }
        });
    </script>
</body>

</html>