<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link href="" rel="stylesheet">
    <title>Title of website</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/custom-css1.css">
    <!-- seo tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="name of website">
    <!-- thumbnail of shared website-->
    <meta property='og:title' content='TITLE OF YOUR WEBSITE' />
    <meta property='og:image' content='https://YOUR_THUMBNAIL_IMAGE_URL' />
    <meta property='og:description' content='DESCRIPTION OF YOUR SITE' />
    <meta property='og:url' content='URL OF YOUR WEBSITE' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content='website' />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://miro.medium.com/fit/c/152/152/1*sHhtYhaCe2Uc3IU0IgKwIQ.png">

<body>
    <!-- navbar -->
    <section class="header-2">
        <div class="logobar py-2" style="background-color: #ffead985;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a class="navbar-brand py-0" href="/">
                    <img src="./img/new-temp/logo.png" class="" style="width: 80px;padding: 2px;" alt="">
                </a>
                <div class="position-relative d-none d-sm-block d-md-block d-block">
                    <form>
                        <i class="fal fa-search search-global"></i> <input type="search"
                            placeholder="search products here.."
                            style="width: calc(100vw - 55vw);padding: 12px;border-radius: 8px;"
                            class="form-control border-0 py-2 py-sm-2 py-md-2 ps-5" />
                    </form>
                </div>
                <ul class="d-flex list-unstyled mb-0">
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-shopping-bag me-md-2"></i><span
                                class="d-none d-sm-none d-md-inline-block"> Items</span></li>
                    </a>
                    <a href="#">
                        <li style="background: #f6ca91;padding: 4px 12px;border-radius: 8px;" class="mx-2"><i
                                class="fal fa-user me-md-2"> </i><span
                                class="d-none d-sm-none d-md-inline-block">SignIn</span></li>
                    </a>
                </ul>
            </div>
        </div>
        <nav class="navbar2">
            <div class="d-none d-sm-none  d-md-block d-lg-block">
                <ul class="list-unstyled mx-auto mb-0 d-flex justify-content-center">
                    <li class="nav-link dropdown">
                        <a href="#">Home & Décor</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link  dropdown"><a href="#">Kitchen & Dinning</a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <!-- <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                        <a href="#"><li class="text-transform-capitalise">asasd kyio iuyiuy</li></a>
                                    </ul>
                                </div> -->
                                <div class="col-lg-3">
                                    <ul class="list-unstyled ms-0 ">
                                        <li class="head-o-dropdown">Name of the category</li>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                        <a href="#">
                                            <li class="text-transform-capitalise">asasd kyio iuyiuy</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-lg-3">
                                    <img src="https://s7d5.scene7.com/is/image/Anthropologie/64082050_060_b?$an-category$&fit=constrain&fmt=webp&hei=523&qlt=80&wid=349"
                                        alt="" class="w-100">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-link"><a href="#">Storage & Organizer</a></li>
                    <li class="nav-link"><a href="#">Bath</a></li>
                    <li class="nav-link"><a href="#">Furniture</a></li>
                    <li class="nav-link"><a href="#">Lighting</a></li>
                    <li class="nav-link"><a href="#">Clothing</a></li>
                    <li class="nav-link"><a href="#">Sale</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- navbar -->

    <!-- breadcrum area start -->
    <section class="container-fluid pb-0">
        <div class="py-0 breadcrum-area">
            <ul class="list-unstyled ps-0 mb-0 d-flex justify-content-center">
                <li class="mx-2"> <a href="#">Home</a></li>
                <li class="mx-2"> <a href="#">Category</a></li>
                <li class="mx-2"> <a href="#">subcategory</a></li>
                <li class="mx-2"> <a href="#">Product name</a></li>
            </ul>
        </div>
    </section>
    <!-- breadcrum area ends -->

    <!-- product-description -->
    <section class="container-fluid">
        <div class="row">
            <!-- images sections start -->
            <div class="col-md-7">
                <div class="stickit">
                    <div class="row">
                        <div class="col-md-3 order-md-1 order-2">
                            <section class="vertical horizontal slider p-0">
                                <div>
                                    <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                        alt="" width="100%">
                                </div>
                                <div>
                                    <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                        alt="" width="100%">
                                </div>
                                <div>
                                    <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                        alt="" width="100%">
                                </div>
                                <div>
                                    <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                        alt="" width="100%">
                                </div>
                                <div>
                                    <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                        alt="" width="100%">
                                </div>


                            </section>
                        </div>
                        <div class="col-md-9 order-md-2 order-1">
                            <img src="//images.ctfassets.net/5de70he6op10/5gfWNVx7UjLoD4mKEPI8kO/d8be1567b5a7699b85f489c049b60ff4/101821_HPG_2UP_Dresses.jpg?w=856&q=80"
                                alt="" class="w-100 mb-3">

                        </div>
                    </div>

                </div>
            </div>
            <!-- image section ends -->
            <div class="col-md-5">
                <div class="specs">
                    <h2 style="font-weight: 100;"> Sachin & Babi Ruffled Maxi Dress</h2>
                    <div class="pb-2 stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <a href="#">13 reviews</a>
                    </div>
                    <h1 class="cost" style="font-weight: 100;">$42,900</h1>
                    <p class="mb-0 saving">Save <span>$3,000.</span></p>
                    <p class="mb-0 emis">No cost EMI starts at <span>$3,575/month</span></p>
                    <p class="mb-0 mrp text-decoration-line-through">MRP $45,900.00</p>
                    <p class="mb-0 all-taxes">(inclusive of all taxes)</p>
                    <div class="shareIcon">
                        <ul class="ps-0 list-unstyled d-flex mt-2">
                            <li class="mx-1">Share : </li>
                            <li class="mx-2"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <!-- chooseing -->
                    <div class=" mb-3">
                        <h6 class=" mt-4 mb-3">Select Size <span><a href="#" class="text-decoration-underline"
                                    style="font-weight: 200;font-size: 90%;">(See size chart)</a></span></h6>
                        <button class="choose-btn me-2 choose-btn-size" onclick="selectProperty(this, 1)">28</button>
                        <button class="choose-btn me-2 choose-btn-size" onclick="selectProperty(this, 1)">30</button>
                        <button class="choose-btn me-2 choose-btn-size" onclick="selectProperty(this, 1)">32</button>
                        <button class="choose-btn me-2 choose-btn-size" onclick="selectProperty(this, 1)">34</button>
                        <button class="choose-btn me-2 choose-btn-size" onclick="selectProperty(this, 1)">36</button>
                    </div>

                    <div class=" mb-3">
                        <h6 class=" mt-4 mb-3">Select Color</h6>
                        <button class="choose-btn me-2">red</button>
                        <button class="choose-btn me-2">green</button>
                        <button class="choose-btn me-2">Yellow</button>
                    </div>

                    <div class=" mb-3">
                        <h6 class=" mt-4 mb-3">Select Quantity</h6>
                        <button class="choose-btn me-2">1</button>
                        <button class="choose-btn me-2">2</button>
                        <button class="choose-btn me-2">3</button>
                        <select name="" id="">
                            <option value="">more</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                        </select>
                    </div>

                    <div class="mt-5">
                        <button class="add-to-cart">Add To Basket</button>
                    </div>

                    <br />
                    <!-- features -->
                    <div class="mb-4">
                        <h3 class="mb-3">Product Details</h3>
                        <ul class="ps-3 mb-0" style="list-style-type: circle;">
                            <li class="">Automatically cleans a whole room properly, capturing 99.95% of harmful
                                pollutants as small as 0.1 microns.*</li>
                            <li class="">The only air purifier with 350° oscillation and Air Multiplierᵀᴹ
                                technology.5</li>
                            <li class="">Scientifically tested to capture pollutants as small as PM0.1, such as
                                bacteria and viruses6</li>
                            <li class="">Senses and displays PM2.5, PM10, VOCs, NO2 in real-time</li>
                        </ul>
                        <a href="#" class="p-4 text-decoration-underline">See all</a>
                    </div>
                    <!-- specifications -->
             

                    <!-- reviews -->
                    <div class="mb-4">
                        <h3 class="mb-3">Reviews</h3>
                        <div class="pb-2 stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            5 stars
                        </div>
                        <div class="position-relative review-section">
                            <div class="review-subject" style="font-weight: 500;">Superb product!!!</div>
                            <strong style="font-weight: 500;">Kaushal </strong>
                                
                            <p class="review-content">
                                I would recommend this product to all, the best part is its very much durable and
                                eligant look which makes the etire of your room and feels cozy.
                            </p>
                        </div>
                        <hr>
                        <div class="position-relative review-section">
                            <div class="review-subject" style="font-weight: 500;">Excellent product!!!</div>
                            <strong style="font-weight: 500;">Vinayak Jain </strong></li>
                            <p class="review-content">
                                I would recommend this product to all, the best part is its very much durable and
                                eligant look which makes the etire of your room and feels cozy.
                            </p>
                        </div>
                        <a href="#!" class=" text-decoration-underline"> read all reviews</a>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--  -->

    <!-- products listing start -->
    <section>
        <div class="container-fluid px-3 position-relative">
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Related Products</h3>
                <button class="btn btn-outline-success">View all</button>
            </div>
            <div class="row product-slick-slider ">
                <div class="col-2">
                    <div class="product-section rounded shadow-xsm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/h1.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            <a href="">
                        </div>
                        </a>
                        <div class="stars p-1-half-alt">
                            <a href="#" class="">121</a>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/h2.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/h3.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/w2.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/w1.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/k2.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="product-section rounded shadow-sm">
                        <a href="#" class="hover-switch">
                            <img src="./img/new-temp/products/k3.webp" alt="" class="w-100 image-o-product rounded">
                            <img src="./img/new-temp/products/fr2.webp" alt=""
                                class="w-100 image-o-product rounded second-img">
                        </a>
                        <a href="">
                            <div class="name-o-product p-1 text-truncate">Solid Turtle Neck Casual Men Grey Sweater
                            </div>
                        </a>
                        <div class="stars px-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <a href="#" class="">121</a>
                        </div>
                        <a href="">
                            <div class="d-flex px-1 pb-2">
                                <div class="price-o-product">$949</div>
                                <div class="original-price-o-product text-muted text-decoration-line-through">$1,999
                                </div>
                                <div class="off-o-product">52% off</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <button class="border-0 shadow fb-arrow back-arrow go-b2"><i class="fal fa-chevron-left"></i></button>
            <button class="border-0 shadow fb-arrow forward-arrow go-f2"><i class="fal fa-chevron-right"></i></button>
        </div>
    </section>

    <!-- footer start -->
    <section class="pb-0">
        <footer class="footer-2 p-4 py-5">
            <div class="container-fluid">
                <div class="row  mx-0 flex-wrap justify-content-around">
                    <div class="col-12 col-md-2 col-lg-2">
                        <img src="./img/new-temp/logo.png" width="80" height="" alt="" class="">
                        <ul class="ps-0 list-unstyled mt-3">
                            <li>
                                <a href=""><i class="fal fa-map-marker-alt"></i> Store Location</a>
                            </li>
                            <li>
                                <a href=""><i class="fal fa-envelope"></i> Get Email</a>
                            </li>
                        </ul>
                        <address>
                        </address>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2">
                        <ul class="pl-0 mb-3 list-unstyled">
                            <li class="f-section-head">Popular Products</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                        <ul class="pl-0 mb-0 list-unstyled">
                            <li class="f-section-head">Deals of the day</li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex">
                            <input type="search" placeholder="Get the latest product"
                                class="form-control border-0 w-75">
                            <button class="btn btn-outline-success w-25 border-radius-0">Submit</button>
                        </div>
                        <ul class="list-unstyled ps-0 pt-3">
                            <a href="#">
                                <li class=""><i class="fab mb-2  fa-facebook-f"
                                        style="width: 1rem; font-size: 1rem;"></i>
                                    @reander</li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-instagram" style="width: 1rem; font-size: 1rem;"></i>
                                    @reander
                                </li>
                            </a>
                            <a href="#">
                                <li><i class=" mb-2 fab fa-twitter" style="width: 1rem; font-size: 1rem;"></i> @reander
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <div class="py-1 d-flex justify-content-between px-2" style="background:#e7b575">
        <small>www.reander.com</small>
        <small class="mb-0 font-small text-center">
            &copy; 2021 All rights reserved. <a href="#">Loop Methods Pvt. Ltd </a>
        </small>
    </div>
    <!-- footer ends -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                arrows: true,
                dots: true,
                autoplay: true,
                prevArrow: $(".go-b"),
                nextArrow: $(".go-f"),
            });
            $('.category-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 8,
                slidesToScroll: 8,
                prevArrow: $(".go-b1"),
                nextArrow: $(".go-f1"),
            });
            $('.product-slick-slider').slick({
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 4,
                prevArrow: $(".go-b2"),
                nextArrow: $(".go-f2"),
                Vertical: true,
                verticalSwiping: true,
            });
            $(".vertical,.horizontal").slick({
                infinite: false,
                dots: false,
                speed: 300,
                vertical: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive:[{
                    breakpoint: 768,
                    settings:{
                        vertical:false
                    }
                }]

            });
        });
        $(".product-section").on({
            mouseover: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 0 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 1 }, 600);
            }, mouseout: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 1 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 0 }, 600);
            }
        });
    </script>

</body>

</html>