{% extends 'base.html' %} 
{% load static %}
    <!-- slider starts -->
    <!-- {% block css %} {% endblock css %} -->
    {% block body %}
       
    <!-- breadcrum area start -->
    <section class="container-fluid pb-0">
        <div class="py-0 breadcrum-area">
            <ul class="list-unstyled ps-0 mb-0 d-flex justify-content-center">
                <li class="mx-2"> <a href="/">Home</a></li>
                <li class="mx-2"> <a href="#">Contact Us</a></li>
            </ul>
        </div>
    </section>
    <!-- breadcrum area ends -->
           <div class="container-fluid">
        <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-6 ">
                    <div class="card auths mt-4">
                        <div class="auth-title mb-3">
                            <h1 class="">CONTACT US</h1>
                            <p>We'd love to hear from you!</p>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="usermail" value=""
                                placeholder="Enter your name" name='name' required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3">
                            <label for="usermail" class="form-label">Your  Email</label>
                            <input type="email" class="form-control" id="usermail" value=""
                                placeholder="Enter your email address" name='email' required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <label for="usermail" class="form-label">Phone Number</label>
                            <input type="Number" class="form-control" id="usermail" value=""
                                placeholder="Enter your Phone number" name='mobile' required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                       <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Messages..." name="message" required></textarea>
                        </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary auth-btn" type="submit">Submit</button>
                        </div>
                         
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- about -->
        
    <!-- about -->

    <!-- footer start -->

    <!-- footer ends -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                arrows: true,
                dots: true,
                autoplay: true,
                prevArrow: $(".go-b"),
                nextArrow: $(".go-f"),
            });
            $('.category-slick-slider').slick({
                infinite: true,
                speed: 300,
                slidesToShow: 8,
                slidesToScroll: 8,
                prevArrow: $(".go-b1"),
                nextArrow: $(".go-f1"),
            });
            $('.product-slick-slider').slick({
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 4,
                prevArrow: $(".go-b2"),
                nextArrow: $(".go-f2"),
                Vertical: true,
                verticalSwiping: true,
            });
            $(".vertical,.horizontal").slick({
                infinite: false,
                dots: false,
                speed: 300,
                vertical: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        vertical: false
                    }
                }]

            });
        });
        $(".product-section").on({
            mouseover: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 0 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 1 }, 600);
            }, mouseout: function () {
                $(this).find("img:nth-child(1)").stop().animate({ opacity: 1 }, 600);
                $(this).find("img:nth-child(2)").stop().animate({ opacity: 0 }, 600);
            }
        });
    </script>
    <script>
        function showChildCategory() {
            document.getElementsByClassName('show-sub-category')[0].style.display = "block"
        }
        function showSubChildCategory() {
            document.getElementsByClassName('show-sub-sub-category')[0].style.display = "block"

        }
        function sidebarOverlay() {
            document.getElementById('sidebar').style.display = "none";
            document.getElementsByClassName('sidebar-overlay')[0].style.display = "none"

        }
    </script>
    <script>
        $(document).ready(function () {
            $(".mini-image").click(function () {
                $(".mini-image").removeClass("active");
                $(this).addClass("active");
                let imageNo = this.attributes[1].nodeValue.substr(-1) - 1
                let noOfImages = $('.full-image').length
                $('.full-image')[imageNo].className = $('.full-image')[imageNo].className.replace(" ", " active ")

            });
        });
    </script>
     <script>
            $( "#openNav" ).click(function() {
              $('#mySidenav').addClass('open');
              $('body').addClass('open-bg');
            });
            $( "#closeNav" ).click(function() {
              $('#mySidenav').removeClass('open');
              $('body').removeClass('open-bg');
            });
            </script>
              <script>
        function showChildCategory() {
            document.getElementsByClassName('show-sub-category')[0].style.display = "block"
        }
        function showSubChildCategory() {
            document.getElementsByClassName('show-sub-sub-category')[0].style.display = "block"

        }
        function sidebarOverlay() {
            document.getElementById('sidebar').style.transition = "fade"
            document.getElementById('sidebar').style.display = "none"
        }
    </script>
</body>
 {% endblock body %}

</html>