<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee;text-align: center;">
            <a href="https://petrimedca.com/"><img src="http://localhost:8000/static/assets/img/new-temp/logo.png" 
                    alt="image-logo" width="120px" class=""></a> <br>
            <a href="" style="font-size:2.2em;color: #1a1a1a;text-decoration:none;font-weight:600">Welcome To <span
                    style="color: #07baa1;">Reance Creation</span><span
                    style="color: #e27e7b;font-size: 75%;"> CA</span><span style="    font-size: 67%;
                position: relative;
                top: -10px;
                font-weight: 100;
                left: -4px;">™</span></a>
        </div>
        <p style="font-size:1.4em;color: #1a1a1a">{{ message }}</p>
        <h2 style="background: #07baa1;
        margin: 0 auto;
        width: max-content;
        padding: 0 25px;
        color: #fff;
        font-weight: 500;
        font-size: 1.6rem;">{{ otp }}</h2>
        <p style="font-size:1.4em;color: #009a85;">Regards<br />Reans Creation<span style="color: #e27e7b;font-size: 75%;"></span><span style="color: #1a1a1a;">™</span></a>
        <hr style="border:none;border-top:2px solid #e1ecea" />
        <div style="padding: 8px 0;
        color: #5f5f5f;
        font-size: 0.95rem;
        line-height: 1;
        font-weight: 300;">
            Visit <a href="#" style="text-decoration: none;color: #009a85;">Reans Creation <span style="color: #e27e7b;font-size: 75%;"></span><span style="color: #1a1a1a;">™</span></a>
            for all latest
            updates</div>

    </div>
</div>